<section>
    <div class="tooltip-wrapper">
        <button>icon</button>
        <button>name</button>
    </div>
    <div class="directory-wrapper">
        <ul>
            <list-element *ngFor="let project of projects" [project]="project"></list-element>
            <li (click)="openCreatePopup()">
                <div class="directory-img"></div>
                <p>add new Project</p>
            </li>
        </ul>
    </div>
</section>
<app-createPopup [modalOn]="createModal" (modalOff)="closeModal($event)"></app-createPopup>