<div class="ide-wrapper">
    <aside class="file-navigator">
        <ul>
            <li>
                file2
            </li>
            <li>
                file3
            </li>
            <li>
                file1
            </li>
            <li>
                file1
            </li>
            <li>
                file1
            </li>
            <li>
                file1
            </li>
        </ul>
    </aside>
    <section>
        <article class="editor-wrapper">
            <div ace-editor class="editor" theme='eclipse'></div>
        </article>
        <article class="console-wrapper">
            <div ace-editor class="console" theme='eclipse'></div>
        </article>
    </section>
</div>
