<div class="ide-wrapper" >
    <aside class="file-navigator">
        <div class="file-wrapper">
            <h1>{{project.name}}</h1>
            <ul>
                <ng-template #recursiveList let-list>
                    <li *ngFor="let file of list">
                        {{file.name}}
                        <ul *ngIf="file.isDirectory && file.files.length > 0">
                            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: file.files }"></ng-container>
                        </ul>
                    </li>
                </ng-template>
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: project.files }"></ng-container>
            </ul>
        </div>
    </aside>
    <section>
        <article class="editor-wrapper">
            <div style="font-size: 16px; line-height: 1.3;" ace-editor class="editor" theme='eclipse' [mode]="project.category" ></div>
        </article>
        <article class="console-wrapper">
            <div ace-editor class="console" theme='eclipse'></div>
        </article>
    </section>
</div>
