.ide-wrapper{
  display: flex;
  height: 100%;
  border-top: 1px solid #303030;
  
  aside {
    width: 25%;
    max-width: 200px;
    background: #fafafa;
    border-right: 1px solid #303030;
    padding-left: 10px;
    h1 {
      font-size: 1rem;
      font-weight: 600;
    }
    ul {
      padding-left: 10px;
      border-left: 1px solid #fafafa;
      li {
        line-height: 1.2rem;
        p {
          cursor: pointer;
        }
        p.modify {
          font-style: italic;
        }
        p:hover {
          background: #f0f0f0;
        }
        p:active {
          background: #e0e0e0;
        }
      }
    }
  }
  section {
    display: flex;
    width: 100%;
    flex-direction: column;
    .editor-wrapper {
      display: flex;
      flex-direction: row;
      height: 75%;
      border-bottom: 1px solid #303030;
      tab-component {
        flex: 1;
        border-right: 1px solid #303030;
      }
      tab-component:last-child {
        border-right: 0;
      }
    }
    .console-wrapper {
      height: 25%;
      .console {
        width: 100%;
        height: 100%;
      }
    }
  }
}