<section class="root">
    <article class="problems-wrapper">
        <h1>문제 리스트</h1>
        <table>
            <thead>
                <tr>
                    <th width="50px">
                        연번
                    </th>
                    <th>
                        제목
                    </th>
                    <th width="150rem">
                        카테고리
                    </th>
                    <th width="100rem">
                        작성일
                    </th>
                    <th width="100rem">
                        완료여부
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let problem of problems; let i = index" (click)="handleClickProblem(problem.id)">
                    <td>{{problem.id}}</td>
                    <td class="title">{{problem.name}}</td>
                    <td>{{problem.category}}</td>
                    <td>{{getDate(problem.created)}}</td>
                    <td>
                        <span></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <ul>
                <li> first </li>
                <li> 01 </li>
                <li> 02 </li>
                <li> 03 </li>
                <li> 04 </li>
                <li> 05 </li>
                <li> 06 </li>
                <li> 07 </li>
                <li> 08 </li>
                <li> last </li> 
            </ul>
        </div>
    </article>
</section>