section {
    display: flex;  
    flex-direction: column;
    align-items: center;
    article {
        min-width: 1200px;
        h1 {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .wrapper {
            margin-bottom: 25px;
            h2 {
                font-size: 1.25rem;
                padding-bottom: 10px;
                border-bottom: 1px solid #a0a0a0;
                margin-bottom: 10px;
            }
        }
        .examples-wrapper {
            .example-wrapper {
                display: flex;
                justify-content: space-between;
                .example-container {
                    flex: 1 1 auto;
                    .example-container textarea{
                        width: 100%;
                    }
                }
            }
        }
    }
}