<section>
    <article>
        <h1>01. hello world problem</h1>
        <div class="problem-wrapper wrapper">
            <h2>문제</h2>
            <p>
                당신은 이제 나한테 뚜까 맞을 수가 있다.
                하지만 컴돌이이므로 hello, world를 출력하면 당신은 살수도 있다.
                어떻게 hello, wolrd를 출력할 것 인가?
            </p>
        </div>
        <div class="input-wrapper wrapper">
            <h2>입력</h2>
            <p>
                입력 없음
            </p>
        </div>
        <div class="output-wrapper wrapper">
            <h2>출력</h2>
            <p>
                hello, world를 출력하라
            </p>
        </div>
        <div class="examples-wrapper wrapper">
            <div class="example-wrapper">
                <div class="example-input-wrapper example-container">
                    <h2>입력 예제 1</h2>
                    <textarea readonly>
                    </textarea>
                </div>
                <div class="example-out-wrapper example-container">
                    <h2>출력 예제 1</h2>
                    <textarea readonly>hello world!</textarea>
                </div>
            </div>
        </div>
        <div class="remarks-wrapper wrapper">
            <h2>비고</h2>
            <p>
                <span>출처</span> : <a href="http://www.naver.com" alt="네이버 홈페이지">http://www.naver.com</a>
            </p>
    </article>
</section>