<div class="body-container">
    <header>
        <nav>
            <ul>
                <li>
                    <a>에디터로 가기</a>
                </li>
                <li>
                    <a>로그인</a>
                </li>
                <li>
                    <a>회원가입</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="router-wrapper">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <p>
            © Copyright<span>영구성장</span>. All Rights Reserved
        </p>
    </footer>
</div>

